.single-product-display {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 38vh;
    border-style: solid;
    border-bottom: solid;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    border-radius: 13px;
}

.single-product-display:hover {
    background-color: grey;
    box-shadow: 0 0 15px 5px black; /* Glowing border effect */
  transform: scale(1.05); /* Slightly enlarge the div */
}

.single-product-display img {
    width: 20vw;
    height: 25vh;
    border-style: solid;
    margin-left: 2.5vw;
}

.single-product-display div p {
    width: 25vw;

}