.each-page-pagination {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.next-btn button{
    background-color: #006964;
    color: white;
    /* width: 7vw; */
    /* margin-right: 1vw; */
    height: 3vh;
}

.next-btn {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    height: 3vh;
    align-items: center;
    gap: 1vw;
}