.one-product-page-display {
    width: 100vw;
    height: 85vh;
    /* overflow: hidden; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1vh;
}

.image {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 85vh;
    justify-content: space-around;
}

.image img {
    height: 60vh;
    width: 40vw;
    
}

.image form {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.image form input {
    width: 10vw;
    height: 5vh;
    text-align: center;
    background-color: #006964;
    color: white;
}

.image form button {
    width: 20vw;
    background-color: #006964;
    color: white;
}

.info {
    width: 40vw;
    display: flex;
    flex-direction: column;
    height: 90vh;

}

.display-reviews {
    width: 40vw;
    /* border-style: dashed; */
    height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E6F6EF;
}

.leave-review form{
    width: 40vw;
}

.leave-review form input {
    width: 30vw;
    height: 10vh;
    background-color: #006964    ;
    color: white
}

.leave-review form button {
    width: 9vw;
    height: 11vh;
    background-color: #006964    ;
    color: white;
}


@media(max-width: 800px) {
    .one-product-page-display {
        width: 100vw;
        /* height: 85vh; */
        /* overflow: hidden; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 1vh;
        align-items: center;
    }

    .image {
        width: 60vw;
    }
    .image img {
        /* height: 60vh; */
        width: 60vw;
    }
    .image form {
        display: flex;
        flex-direction: row;
        gap: 15vw;
        width: 60vw;
        margin-top: 2vh;
    }
    .image form input {
        width: 15vw;
        height: 5vh;
        text-align: center;
        background-color: #006964;
    }
    
    .image form button {
        width: 30vw;
        background-color: #006964    ;
    }

    .info {
        width: 80vw;
        display: flex;
        flex-direction: column;
        height: 90vh;
    
    }

    .display-reviews {
        width: 80vw;
        /* border-style: dashed; */
        height: auto;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #E6F6EF;
    }
    
    .leave-review form{
        width: 80vw;
    }
    
    .leave-review form input {
        width: 60vw;
        height: 10vh;
    }
    
    .leave-review form button {
        width: 18vw;
        height: 11vh;
    }

}