.product-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #00A6A4;
    overflow: hidden;
}

.products-page-display {
    width: 100vw;
    height: 100vh;
    /* overflow: scroll; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5vw;
    row-gap: 1vh;
}

.search-bar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 4vh;
    justify-content: center;
    padding-top: 1vh;
}

.search-bar input{
    border-radius: 9vh;
    width: 60vw;
    text-align: center;
}

.search-bar button {
    width: 10vw;
    border-radius: 9vh;
    background-color: #006964;
    color: white;
}